* {
    margin:0px;
    padding: 0px;
    box-sizing: 0px;
}

body {
    background-color: lightgoldenrodyellow;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6FRIIt5mr-lR7yZEt-NJi3NApylSVYvk9nUjkC6E-9c1_m5naaZMtCfuzivuuy3ROUo&usqp=CAU) ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed


}

.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

body {
    background-image: linear-gradient(360deg,red,yellow,blue,green,orange,violet);
}

h1, h2, h3  {
    margin-top: 10px;
    background-color:  darkgoldenrod;
}

h1, .claseDos {
    font-size: 40px;
}

.perritoSalchica {
    background-color: maroon;
}

#perritoSalchica {
    background-color: crimson;
}

.lorem {
    color: cyan;
    background-color: black;
    font-size: 20px;

}